/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Luckiest+Guy&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Global Style */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid rgb(186, 186, 186);
    margin: 0 auto;
    width: 90%;
    margin-top: 5vh;
}

::selection {
    background-color: #1d2d44;
    color: white;
}
  
/* For Firefox */
::-moz-selection {
    background-color: #1d2d44;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    font-family: var(--font-1);
}

body {
    background-color: white;
}

:root {
    /* Fonts */
    --font-1: "Nunito Sans", sans-serif;
    --font-2: "Luckiest Guy", cursive;
    --font-3: "Black Ops One", cursive;
    /* Theme Colors */
    --light-color: #f0ebd8;
    --light-blue: #748cab;
    --med-blue: #3e5c76;
    --dark-blue: #1d2d44;
    --darker-blue: #0d1321;
}

/* Page Containers */
.page_container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.built_container {
    width: 100vw;
    height: 4vh;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 2;
}

.nav_container {
    width: 100vw;
    height: 10vh;
    background-color: var(--dark-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.345);
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2vw;
}

/* Built Styling */
.built_image {
    height: 80%;
    width: auto;
    padding: 0 2vw;
    filter: saturate(0%) contrast(50%);
}

.built_image:hover {
    filter: saturate(100%) contrast(100%);
    transition: 0.2s ease;
}

.built_title {
    color: var(--dark-blue);
    font-size: 2vh;
}

/* Navigation Styling */
.nav_title {
    color: white;
    font-style: italic;
    font-weight: 100;
    font-size: 1.1em;
    padding-left: 4vw;
}

.nav_link {
    height: 100%;
    max-width: 15vw;
    padding: 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link:hover {
    background-color: rgba(255, 255, 255, 0.093);
    transition: 0.2s ease;
    cursor: pointer;
}

.nav_icon {
    height: 20%;
    width: auto;
    padding: 10px;
    border-radius: 100vw;
    border: 1px solid white;
    overflow: visible;
}

.nav_text {
    color: white;
    font-weight: 300;
    padding-left: 1vw;
}

/* Levels Styling */
.levels_container {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.levels_aside {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(215, 215, 215);
    border-right: 1px solid rgb(179, 179, 179);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    z-index: 2;
}

.levels_asideButtons {
    width: 20vw;
    height: 12vh;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    color: var(--dark-blue);
}

.levels_asideButtons:hover {
    background-color: rgba(255, 255, 255, 0.366);
}

.levels_article {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding-bottom: 10vh;
}

.levels_divTitle {
    color: var(--dark-blue);
    font-size: 2.5em;
    font-weight: 200;
    margin-top: 5vh;
    user-select: text;
    margin-left: 4vw;
}

.levels_divPar {
    color: var(--dark-blue);
    font-size: 1.3em;
    font-weight: 200;
    line-height: 4vh;
    margin-left: 4vw;
    margin-bottom: 5vh;
    margin-right: 4vw;
    user-select: text;
}

.levels_divSubtitle {
    color: var(--dark-blue);
    font-size: 1.8em;
    font-weight: 200;
    margin-top: 5vh;
    margin-left: 4vw;
    user-select: text;
}

.levels_ulTitle {
    color: var(--dark-blue);
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 2vh;
    margin-left: 4vw;
    user-select: text;
}

.levels_ul {
    list-style-type: circle;
    margin-left: 6vw;
    overflow: visible;
}

.levels_list {
    list-style-position: inside;
    height: auto;
    font-weight: 200;
    line-height: 4vh;
    margin-right: 15vw;
    text-indent: -1.5vw;
    overflow: visible;
    user-select: text;
}

/* Footer Styling */
.footer_container {
    width: 100vw;
    height: 40vh;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.footer_div {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: visible;
}

.footer_divTitle {
    color: white;
    font-size: 1.8em;
    font-weight: 200;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.footer_divSocial {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vw;
}

.footer_icon {
    height: 3vh;
    width: auto;
    background-color: rgb(236, 236, 236);
    padding: 12px;
    border-radius: 100vw;
    overflow: visible;
}

.footer_icon:hover {
    background-color: white;
    transition: 0.2s ease;
    cursor: pointer;
}

.footer_par {
    color: rgb(236, 236, 236);
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 3vh;
}

.footer_button {
    color: rgb(236, 236, 236);
    font-size: 1.3em;
    margin: 1vh 0;
    font-weight: 200;
}

.footer_button:hover {
    color: white;
    text-decoration: underline 1px white;
    transition: 0.2s ease;
    transform: scale(1.06);
    cursor: pointer;
}